body{
  background-color: rgb(14, 201, 248);
  color: rgb(250, 248, 248);
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

button{
  padding: 5px 20px;
  background-color: rgb(90, 137, 238);
  border-style: none;
  color: rgb(247, 250, 252);
}

input{
  height: 25px;
}